<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Ушлёпок.ру</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>

<body>
    <h1>Ушлёпок.ру</h1>

    {{> @partial-block}}

    <div class="navigation">
        [
        <a href="/">Главная</a> |
        <a href="/add">Добавить ушлепка</a> |
        <a href="//github.com/Foxie-Solutions/ushlepok">GitHub</a>
        ]
    </div>

    <div class="footer">
        <hr />
        <!-- че зыриш глаза пузыриш -->
        <i>Resurrected by <a href="//foxie.solutions">Foxie Solutions</a></i>
    </div>
</body>

</html>